@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #8675A9;
    font-family: 'Italiana', serif;
    color: #FFF;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: 1px solid transparent;
    height: 100px;
}

main{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    justify-self: center;
    align-self: center;
    padding: 1em 10%;
}

#listes{
    display: flex;
    justify-content: center;
    min-height: 400px;
    max-width: max-content;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.b_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: 270px;
    background-color: #C3AED6;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 1em;
}

input{
    display: flex;
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#input_titre{
    width: fit-content;
    margin: 1em 0;
}


input:focus-visible{
    outline: none;
}

#checkbox{
    position: absolute;
    top: 5px;
    left: -30px;
    width: 20px;
    height: 20px;
    padding: 15px;
}

input:checked + .list_item{
    text-decoration: line-through;
}

ul{
    position: relative;
    padding: 0;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.list_item{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3px;
    /* width: 150px; */
}





button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 1em;
    border-radius: 1em;
    height: 1.5em;
    width: 1.5em;
}

#button_addlist{
    width: max-content;
    margin: 0 1em;
    padding: 10px;
}